/* Всплывающие окна пока не трогал
 Знак рубля пока не ставил */

/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
  url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoLight"; */
/* Пока не требуется
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
  url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
*/
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
  url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
  url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* Спрячу пока что окошки, менюшки и радиобатоны */
  input[name="slides"],
  .sub_nav,
  .search_form,
  .login_form,
  .modal {
    display: none;
  }

/* Общие */
html,
body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  /* min-height: ??? */
}

body {

}
body {
  font-family: "RobotoBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  font-weight: normal;

  color: #fff;
}

.wrapper {
  /* заменить на нужный фон позже !! */
  background: #849d8f url("../../gllacy/gllacy/preview/gllacy-index-1200.jpg") no-repeat 50% 3px;
  background-size: 1200px auto;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Ссылки */
a:link,
a:visited {
  font-family: "RobotoMedium", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;

  color: #fff;
  text-decoration: none;
}
/* На будущее
a:hover,
a:active {
  color: #ffbc9e;
}
*/
/* Шапка */
.main_nav a {
  font-family: "RobotoBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;

  color: #fff;
}

.main_nav {
  float: left;
  width: 560px;
}

.main_nav ul {
  list-style: none;

  margin: 12px 0 0;
  padding: 0;
}

.sub_nav a {
  font-family: "RobotoRegular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;

  color: #323232;
}

.sub_nav a.news {
  font-family: "RobotoBold", "Arial", sans-serif;
}

.top-line,
.bottom_line {
  min-height: 60px;
}

.bottom_line {
  text-align: right;
  margin-bottom: 255px;
}

.user_block {
  font-family: "RobotoMedium", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;

  float: right;
  width: 267px;
  text-align: right;
}

.main_nav li,
.user_block .search,
.user_block .login,
.user_block .cart {
  display: inline-block;
}

/* Вторая линия - информация о контактах */
.contacts .time {
  font-size: 14px;
  line-height: 16px;
}

.contacts .phone {
  font-size: 22px;
  line-height: 24px;
}

.contacts p {
  margin: 0;
  padding: 0;
}

/* Слайдер */
.slider {
  width: 680px;
  margin: 0 auto;
  margin-bottom: 42px;
  padding: 0;
  text-align: center;
}

.slider .two,
.slider .three {
  display: none;
}

.slider h2 {
  font-size: 60px;
  line-height: 60px;
  text-align: center;

  margin-bottom: 32px;
}

/* Кнопки */
a.btn_large {
  font-size: 32px;
  line-height: 44px;
  width: 280px;
  min-height: 57px;


  display: block;
  border-radius: 30px;
  margin: 0 auto;
  padding: 5px 0 0;

  background-image: linear-gradient(90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

a.btn_small {
  font-size: 18px;
  line-height: 24px;
}

/* Промо (даром) */
.promo {

}
.promo h3 {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
}

.promo p {
  font-size: 18px;
  line-height: 22px;
}

.promo_left,
.promo_right {
  width: 520px;
  min-height: 201px;

  padding: 14px 20px;
  border-radius: 15px;
}

.promo_left {
  float: left;
}

.promo_right {
  float: right;
}

/* Карточки товаров */
.catalog_item .cost {
  font-size: 45px;
  line-height: 45px;
}

.catalog_item .kilo {
  font-size: 30px;
  line-height: 45px;
}

.catalog_item .description {
  font-family: "RobotoMedium", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
}

/* Описание преимуществ (вафля) */
.main_description {
  color: #323232;
}

.main_description h1 {
  font-family: "RobotoMedium", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.main_description li {
  font-family: "RobotoRegular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
}

/* Новости */
.blog h3 {
  font-family: "RobotoMedium", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;

  color: #323232;
}

.blog a {
  font-size: 24px;
  line-height: 30px;

  color: #323232;
}

/* Рассылка */
.mail {
  font-family: "RobotoRegular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;

  color: #5a5a5a;
}

/* Адрес на карте */
.address_area h3, .address_area p {
  font-family: "RobotoRegular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;

  color: #323232;
}

.address_area address, .address_area .phone {
  font-size: 18px;
  line-height: 24px;
  font-style: normal;

  color: #323232;
}

/* Ссылки */
.links a {
  font-family: "RobotoRegular", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
}
.links .heart {
  font-family: "RobotoBold", "Arial", sans-serif;
}

/* HTMLAcademy */
.copyright p,
.copyright a {
  font-family: "RobotoRegular", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;

  color: #fefefe;
}

/* Крошки */
.breadcrumbs,
.breadcrumbs a {
  font-family: "RobotoRegular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
}

/* Главный заголовок на catalog.html */
main h1 {
  font-size: 35px;
  line-height: 41px;
}

/* Пагинатор */
.pagination,
.pagination a {
  font-family: "RobotoMedium", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

/* УБРАТЬ -- ТЕСТ
header section,
header section div {
  border: 1px solid black;
}
*/
/* === Сетка === */
/* Общее */






/* header */



/* Логотип немного за пределами контейнера
header .container {
  width: 1150px;
}*/







/* Слайды */


/* Промо */


/* Отсортировать по селекторам */
